# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
dist/
build/

# Environment
.env
.env.*

# Data (raw data no va al repo)
data/raw/
data/processed/

# dbt
dbt/target/
dbt/dbt_packages/
dbt/logs/

# Airflow
airflow.db
airflow.cfg
logs/

# Notebooks checkpoints
.ipynb_checkpoints/

# OS
.DS_Store
